$--color-primary: #409eff;
$--color-primary-dark: darken($--color-primary, 25%);
$--color-white: #161b22;
$--color-text-primary: #f0f0f0;
$--color-text-regular: #e0e0e0;
$--color-text-secondary: #a0a0a0;
